/*
  *数据操作提示框样式start
  */
.msgDiv .msgtitle{
	height: 24px;
	line-height: 24px;
	background: url(images/sysTitlebg.jpg) repeat-x;
}

.msgDiv .msgtitle .title{
	 text-indent: 5px;
	 color: #FFFFFF;
	 float: left;
	 cursor: move;
}

.msgDiv .msgtitle .icon{
	margin: 6px 2px;
	float: right;
	cursor: pointer
}

.msgDiv .content{
	   background: #F5F9FF;
	   text-align: left;
	   text-indent: 5px;
	   line-height: 23px;
	   color: #5E88C1;
	   border: 1px solid #C3DAF9;
	   border-top: none;
}
 /*
  *数据操作提示框样式end
  */
